<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864834176149-pg1r6er37v2435tsq1ormdbpjiuo702b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864834176149-pg1r6er37v2435tsq1ormdbpjiuo702b</string>
	<key>API_KEY</key>
	<string>AIzaSyBqdQceEiOR8ZVIyE_0qftAc0lW4Plwbr0</string>
	<key>GCM_SENDER_ID</key>
	<string>864834176149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajira.codebarqr</string>
	<key>PROJECT_ID</key>
	<string>codebarqr</string>
	<key>STORAGE_BUCKET</key>
	<string>codebarqr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864834176149:ios:c730b2da87449a7789c79c</string>
</dict>
</plist>